@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Maven+Pro:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Rubik';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
}

/*=============================================   MENU   =============================================*/
.contenedor-header{
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.contenedor-header header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header header .logo a{
  font-family: 'Maven Pro';
  font-size: 36px;
  color: #00baff;
  text-decoration: none;
  font-weight: bold;
}
.contenedor-header header ul{
  display: flex;
  list-style: none;
}
.contenedor-header header nav ul li a{
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
  color: #00baff;
}
.nav-responsive{
  background-color: #00baff;
  color:#fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/*==================================================  INICIO =================================================*/
.inicio{
  background: url(/assets/images/fondo00.jpeg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}
.inicio .contenido-banner{
  padding: 20px;
  background-color: rgba(30, 35, 38, 1.0);
  max-width: 450px;
  margin: auto;
  text-align: center;
  border-radius: 20px;  
}
.inicio .contenido-banner img{
  margin-top: 40px;
  border: 10px solid #00baff;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
.inicio .contenido-banner h1{
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Maven Pro';
}
.inicio .contenido-banner h2{
  font-size: 15px;
  font-weight: normal;
}
.inicio .contenido-banner .redes a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
  color: #fff;
  background-color: #00baff;
  box-shadow: 0 0 20px #fff;
}

/*==========================================    Sobre Mi   ==============================================*/
.sobremi{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}
.sobremi .contenido-seccion{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
.sobremi h2{
  font-size: 48px;
  font-family: 'Maven Pro';
  text-align: center;
  padding: 20px 0;

}
.sobremi .contenido-seccion p{
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: justify;
}
.sobremi .contenido-seccion .intropersonal{
  color: #00baff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}
.sobremi .fila{
  display: flex;
}

.sobremi .contenido-seccion h3{
  text-transform: uppercase;
  font-family: 'Maven Pro';
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -30px;
}

.sobremi .contenido-seccion .fila{
  display: flex;
  justify-content: space-around;
}

.sobremi .contenido-seccion .fila .col{
  margin-top: 50px;
}

.sobremi .contenido-seccion .fila .col h4{
  color: #00baff;
  margin-bottom: 10px;
}

.sobremi .contenido-seccion .fila .col i{
  color: #00baff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #00baff;
  line-height: 37px;
  border-radius: 50%;
  margin-right: 7px; 
}

/*=================================================   HABILIDADES   ================================================*/
.skills{
  width: 100%;
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
  box-sizing: border-box;
}
.skills .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.skills h2{
  font-size: 48px;
  font-family: 'Maven Pro';
  text-align: center;
  padding: 20px 0;

}
.skills .fila{
  display: flex;
}
.skills .fila .col{
  width: 50%;
  padding: 0 20px;
}
.skills .fila .col h3{
  font-size: 28px;
  font-family: 'Maven Pro';
  margin-bottom: 25px;
}

.skills .skill{
  width: 100%; /* Full width */
  background-color: #252A2E;
}

.skill .container{
  width: 80%;
  background-color: #131517;
  margin-bottom: 25px;
  border-radius: 10px;
}

.skillbar{
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.skills .skill > p{
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skills .skill .javascript {
  width: 75%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .htmlcss {
  width: 89%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .photoshop {
  width: 95%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .wordpress {
  width: 81%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .premiere {
  width: 65%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .ingles {
  width: 90%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .italiano {
  width: 70%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

.skills .skill .espanol {
  width: 99%;
  background: linear-gradient(to right, #007fff, #1cddee);
  border-radius: 10px;
}

/*===============================================   CURRICULO   =============================================*/
.curriculum{
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}
.curriculum .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.curriculum h2{
  font-size: 48px;
  font-family: 'Maven Pro';
  text-align: center;
  padding: 20px 0;

}
.curriculum .fila{
  display: flex;
  
}
.curriculum .fila .col{
  width: 49%;
  padding: 0 20px;
}
.curriculum .fila .col h3{
  font-size: 28px;
  font-family: 'Maven Pro';
  margin-bottom: 25px;
}
.curriculum .fila .izquierda{
  border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
  border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
  padding: 25px;
  margin-bottom: 30px;
  background-color: #252A2E;
  position: relative;
}
.curriculum .fila .item h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.curriculum .fila .item .casa{
  color: #00baff;
  font-size: 22px;
  font-weight: bold;
  display: block;
}
.curriculum .fila .item .fecha{
  display: block;
  color: #00baff;
  margin-bottom: 10px;
}
.curriculum .fila .item p{
  line-height: 24px;
}
.curriculum .fila .izq{
  border: 2px solid #00baff;
  margin-right: 20px;
}
.curriculum .fila .der{
  border: 2px solid #00baff;
  margin-left: 20px;
}

/*==============================================    PORTFOLIO   ============================================*/
.portfolio{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
}
.portfolio .contenido-seccion{
  max-width: 1200px;
  margin: auto;
}
.portfolio h2{
  font-size: 48px;
  font-family: 'Maven Pro';
  text-align: center;
  padding: 20px 0;
}
.portfolio .galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio .galeria .proyectos{
  display: inline block;
  width: 100% !important;
  height: 90% !important;
  border: 5px solid #00baff;
  position: relative;
  max-width: 340px !important;
  max-height: 260px !important;
  height: fit-content;
  margin: 20px;
  margin-bottom: 0px;
  cursor: pointer;
}
.portfolio .galeria .proyectos img{
  width: 100%;
  display: flex;
}

/*==============================================   CONTACTO   =============================================*/
.contacto{
  background-image: url(/assets/images/fondo05.jpg);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
}
.contacto .contenido-seccion{
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h2{
  font-size: 48px;
  font-family: 'Maven Pro';
  text-align: center;
  padding: 20px 0;
}
.contacto .fila{
  display: flex;
}
.contacto .col{
  width: 150%;
  padding: 10px;
  position: relative;
}
.contacto .col input, .contacto .col textarea{
  display: flex;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252A2E;
  color: #fff;
  font-size: 18px;
}
.contacto button{
  cursor: pointer;
  background-color: #00baff;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
}

.contacto .col img{
  width: 100%;
}
.contacto .col .info{
  position: absolute;
  top: 40%;
  background-color: #252A2E;
  padding: 20px;
  max-width: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacto .col .info ul{
  list-style: none;
}
.contacto .col .info ul li{
  margin-bottom: 20px;
}
.contacto .col .info ul li i{
  color: #00baff;
  display: inline-block;
  margin-right: 20px;
}
footer{
  background-color: #252A2E;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}
footer .redes{
  margin-bottom: 20px;
}
footer .redes a{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}
footer .arriba{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #00baff;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}
footer .arriba:hover{
  color: #fff;
  background-color: #00baff;
  box-shadow: 0 0 20px #fff;;
}

footer .redes a:hover{  
  color: #fff;
  background-color: #00baff;
  box-shadow: 0 0 20px #fff;;
} 